.search {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
	padding: 12px;
	border: 1px solid #696464;
	border-radius: 4px;
	margin: 10px;
	background: #ccdee6;
  }

  .label {
	font-weight: bold;
  }

  .btn{
	color:rgb(81, 24, 134);
	background-color: rgb(178, 207, 235);
	transition: color 0.5s;
  }
  .btn:hover{
	color:rgb(255, 255, 255);
	background-color: rgb(168, 176, 207);}