 .contact {
	background-color: #e2f0f7; 
	border: solid black 1px;
	border-radius: 8px;
	display: flex;
	gap: 5px;
	height: 80px;
	width: 300px;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
  }
   
  .info {
	font-size: 18px;
	margin: 2px;
  }
  
  .icon {
	size: 22px;
	color: teal;
  } 
  .del{
	 display: flex;
	flex-direction: column-reverse; 
	background-color: #a3c5e0;
	transition: color 0.5s;
	transition: background-color rgb(162, 172, 212) ;

  }
  .del:hover{
   color: #ffffff;
   background-color: #6c9fc9;;
 }